<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
  </head>

  <body>
    <div class="container">
      <div class="row">
	<div class="col-sm-4">
	  <div class="jumbotron">
	    <div class="row">
	      <h2>Shakespeare</h2>
	    </div>
	    <div class="row">
	      <form>
		<div class="form-row">
		<div class="col-4">
		  <input type="text" class="form-control" id="wordsearch" placeholder="Enter a word...">
		</div>
		<div class="col">
		  <center><button type="submit" class="btn btn-primary">Submit</button></center>
		</div>
		</div>
	      </form>
	    </div>
	  </div>
	</div>
	<div class="col-sm-8">
	  
	</div>
      </div>
    </div>
  </body>

</html>
