<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      .bg-1 {
      background-color: white;
      color: #ffffff;
      }
      .bg-2 {
      background-color: white;
      color: #ffffff;
      }
      .bg-3 {
      background-color: white;
      color: #black;
      }
      .container-fluid {
      padding-top: 10px;
      padding-bottom: 10px;
      }
    </style> 
  </head>

  <body style="background-color:gainsboro;">
    <div class="container-fluid">     
      <div class="col-sm-4">
	
	  <!------------------------Title---------------------------------->
	  <div class="container-fluid bg-1 text-center">
	      <img src="https://www.miamialum.org/s/916/images/editor/History/shakespeare-first_folio-header_750x245.jpg" class="img-responsive" style="width:400px;height:100px;">
	  </div>
	  <!------------------------Search Bar----------------------------->
	  <div class="container-fluid bg-2 text-center">
	    <!--------
	    <form class="form-inline">
	      <div class="form-group mx-sm-3 mb-2">
		<input class="form-control" id="search" placeholder="Enter a word...">
	      </div>
	      <button type="submit" class="btn btn-primary mb-2">Search!</button>
	    </form>
	    ----->
	      <div class="input-group">
		<input type="text" id="wordbar" class="form-control" size="50" placeholder="Enter a word...">
		<div class="input-group-btn">
		  <button type="button" class="btn btn-primary" id="word">Search!</button>
		</div>
	      </div>
	  </div>
	  <div class="container-fluid bg-3 text-center" style="font-family:roboto">
	    <h3 style="font-family:roboto">Arrange by:</h3>
<!--	    <div class="radio">
	      <label><input type="radio" name="optradio" id="vocab">Word Variety</label>
	    </div>-->
	    <div class="radio">
	      <label><input type="radio" name="optradio" id="length">Word Count</label>
	    </div>
	    <div class="radio">
	      <label><input type="radio" name="optradio" id="default">Reset to Equality</label>
	    </div>
	    
	  </div>
	  <div class="container-fluid bg-3 text-center" style="font-family:roboto">
	    <h3 style="font-family:roboto">How To Use:</h3>
	    <p style="font-family:roboto">
	      <ul>
		<li>To find relative count of a specific word, type your word into the search bar and click Search!</li>
		<li>For other options, select a button and the circles will move accordingly.</li>
		<li>Enjoy!</li>
	      </ul>
	    </p>
	  </div>
      </div>
      <div class="col-sm-8">
	<!---------d3 html----------------->
	<svg height="750" width="750" id="svg" xlmns="http://www.w3.org/2000/svg">
	  <circle cy="375" cx="375" r="375" fill="white" stroke="black"></circle>

	  <!-- CATEGORY BUBBLES-->
	  <circle class="category" id="comedybubble" cy="375" cx="375" r="0" fill="rgba(148, 249, 104,0.5)" stroke="rgb(112, 191, 78)" stroke-width="3"></circle>
	  <circle class="category" id="tragedybubble" cy="375" cx="375" r="0" fill="rgba(239, 115, 115,0.5)" stroke="rgb(206, 92, 92)" stroke-width="3"></circle>
	  <circle class="category" id="historybubble" cy="375" cx="375" r="0" fill="rgba(90, 215, 221,0.5)" stroke="rgb(66, 166, 170)" stroke-width="3"></circle>

	  <!-- COMEDIES -->
	  <circle class="comedy" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="comedy" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="comedy" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="comedy" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="comedy" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="comedy" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="comedy" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="comedy" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="comedy" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="comedy" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="comedy" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="comedy" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="comedy" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="comedy" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="comedy" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="comedy" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>

	  <!-- TRAGEDIES -->
	  <circle class="tragedy" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="tragedy" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="tragedy" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="tragedy" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="tragedy" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="tragedy" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="tragedy" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="tragedy" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="tragedy" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="tragedy" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>

	  <!-- HISTORIES -->
	  <circle class="history" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="history" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="history" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="history" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="history" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="history" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="history" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="history" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="history" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>
	  <circle class="history" cx="375" cy="375" r="0" fill="rgba(100,100,100,0.5)" stroke="black" stroke-width="3"></circle>

	</svg>
	<br>
	<!--	<input type="radio" name="status" value="default" id="default"> Evenly Sized<br>
<input type="radio" name="status" value="length" id="length"> Sized by Length<br>-->
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script type="text/javascript" src="/static/script.js"></script>
      </div>   
    </div>
  </body>

</html>
