<!DOCTYPE html>
<html>
  <head>
    <title>Test svg</title>
    <style>
      #svg { border: 1px solid black;}
    </style>
  </head>
  <body>
    <h1>Tests n' Circles!</h1>
    <svg height="500" width="500" id="svg" xlmns="http://www.w3.org/2000/svg">
      <circle cy="250" cx="250" r="250" fill="white" stroke="black"></circle>
      <circle class="category" cy="250" cx="250" r="1" fill="rgba(148, 249, 104,0.5)" stroke="rgb(112, 191, 78)" stroke-width="4"></circle>
      <circle class="category" cy="250" cx="250" r="1" fill="rgba(90, 215, 221,0.5)" stroke="rgb(66, 166, 170)" stroke-width="4"></circle>
      <circle class="category" cy="250" cx="250" r="1" fill="rgba(239, 115, 115,0.5)" stroke="rgb(206, 92, 92)" stroke-width="4"></circle>
    </svg>
    <br>
    <input type="radio" name="status" value="default" id="default"> Evenly Sized<br>
    <input type="radio" name="status" value="length" id="length"> Sized by Length<br>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
